{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Read" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "members" %}</h2>
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h5>{{ members.groups.training }}</h5>			
			<h4>{{ members.groups.title }}</h4>			
		</div>
		<div class="card-body">		
			<p>{{ members.user.last_name }} {{ members.user.first_name }}</p>					
		</div>
		<div class="card-footer">				
			<p>{{ members.user.username }}</p>			
			<p>{{ members.user.email }}</p>			
		</div>		
	</div>
	<div class="div-button-left">
		<a class="btn btn-outline-info" style="width:100px; margin-top:5px" href="{% url 'members_index' %}">{% trans "Back" %}</a>    
	</div>
</div>

{% endblock content %}