{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Read" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "schedule" %}</h2>
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h4>{{ schedule.dates | date:"d.m.Y H:i" }}</h4>			
		</div>
		<div class="card-body">		
			<p>{{ schedule.groups.training  }}</p>					
			<p>{{ schedule.groups.title }}</p>					
		</div>
		<div class="card-footer">				
		</div>		
	</div>
	<div class="div-button-left">
		<a class="btn btn-outline-info" style="width:100px; margin-top:5px" href="{% url 'schedule_index' %}">{% trans "Back" %}</a>    
	</div>
</div>

{% endblock content %}