{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<div class="div-width-100-text-center">
	<h3>{% trans "FAQ" %}</h3>
</div>
<br>
		


{% if LANGUAGE_CODE == 'kk' %}
<div class="accordion accordion-flush" >
	<div class="accordion-item">
		<h2 class="accordion-header" id="flush-heading01">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse01" aria-expanded="false" aria-controls="flush-collapse01">
				1. Қаңтар айындағы ҰБТ-ның қорытындылары
			</button>
		</h2>
		<div id="flush-collapse01" class="accordion-collapse collapse show" aria-labelledby="flush-heading01" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<div class="row">
					<div class="col-md-8">
						<p>Қаңтар ҰБТ-сын 123 мыңға жуық адам тапсырды. Оның ішінде түлектердің 77% – ы қазақ тілінде, 23% - ы орыс тілінде, 91 адам ағылшын тілінде тестілеуден өтті.</p>
						<p>ҰБТ басталғалы шекті балды 83%-ға жуық талапкер жинап, 21 мыңнан астамы (17%-ы) шекті балл жинай алмады. </p>
						<p>ҰБТ орташа балы 76 балды құрады. Ең жоғары балл – 139.</p>
						<p>«Қаңтар ҰБТ-сы 10 қаңтар-10 ақпан аралығында өтті. Жалпы, қаңтардағы ұлттық бірыңғай тестілеуге 123 мыңға жуық адам қатысты. Тестіленушілердің ең көп таңдаған комбинациясы - «Математика-Физика» (19%). Тапсырушылардың 18%-ы «Биология-Химия» комбинациясын таңдаса, 10%-ы шығармашылық емтиханды таңдаған. IT бағыттарға түсуге қажетті жаңа «Математика-Информатика» комбинациясын ҰБТ-ға қатысушылардың 10%-ы тапсырған», – деп атап өтті ҚР ҒЖБМ Ұлттық тестілеу орталығының директоры Руслан Емелбаев.</p>
						<p>Талапкерлердің, соның ішінде ерекше білім беру қажеттіліктері бар талапкерлердің тестілеуді ыңғайлы тапсыруы үшін ҰБТ тапсыру уақыты 40 минутқа ұзартылған. Сонымен қатар, олар үшін сызба және диаграммаларсыз сұрақтар жасалды. Қабылданған шаралар арқасында ерекше білім беру қажеттіліктері бар 274 бала ҰБТ тапсырды.</p>
						<p>62 талапкер смартфон, шпаргалка және басқа да тыйым салынған заттарды алып өту әрекеті салдарынан тест тапсыру мүмкіндігінен айырылды. Тестілеу кезінде ережелерді бұзғаны үшін аудиториядан 98 адам шығарылып, олардың нәтижелері жойылды. Өзге тұлғалар анықталған жоқ.</p>
						<p>Естеріңізге сала кетсек, ҰБТ-ға дайындықты жақсарту мақсатында Ұлттық тестілеу орталығы оқу жылының басында тестілеу пәнінің спецификацияларын, тест жоспарын, Қазақстан тарихы және Дүниежүзі тарихынан 100 дата, Информатикадан терминдер тізімін, Қазақ әдебиеті және орыс әдебиеті пәндерінен шығармалар тізімін өз сайтында және әлеуметтік желілерінде жариялады.</p>		
					</div>
					<div class="col-md-4">
						<img style="width:100%; max-width:400px;" src="{% static 'images/news8.jpeg' %}" alt="" title="">    
					</div>
				</div>
			</div>
		</div>
		<h2 class="accordion-header" id="flush-heading02">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse02" aria-expanded="false" aria-controls="flush-collapse02">
				2. Қаңтар айындағы ҰБТ-ның аралық қорытындылары
			</button>
		</h2>
		<div id="flush-collapse02" class="accordion-collapse collapse" aria-labelledby="flush-heading02" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<div class="row">
					<div class="col-md-8">
						<p>Қаңтар айындағы ҰБТ басталғалы бері 57 мың адам тест тапсырды.</p> 
						<p>Оның ішінде: талапкерлердің 78% – ға жуығы шекті балл жинады; орташа балл – 70 балл; ерекше білім беру қажеттілігі бар 93 бала қатысты. Ереже бұзғаны үшін 93 адамның нәтижелері жойылды. Атап өтсек:</p> 
						<p>смартфон, шпаргалка және басқа да тыйым салынған заттарды алып өту әрекеті салдарынан 36 талапкер тест тапсыру мүмкіндігінен айырылды; тестілеу кезінде ережелерді бұзғаны үшін аудиториядан 57 адам шығарылды; бөгде тұлғалар анықталған жоқ. Қатысушылардың басым бөлігі, яғни 19%-ы «Математика-физика» және 18%-ы «Биология-Химия» пәндер комбинациясын таңдаған. Сондай-ақ IT бағыттарына түсуге қажетті жаңа «Математика-Информатика» комбинациясын ҰБТ-ға қатысушылардың 9%-ы тапсырған.</p> 
						<p>Естеріңізге сала кетейік, қаңтар айындағы ҰБТ 10 ақпанға дейін өтеді. Қорытынды мәліметтер сол уақытта жарияланады.</p> 
					</div>
					<div class="col-md-4">
						<img style="width:100%; max-width:400px;" src="{% static 'images/news9.jpeg' %}" alt="" title="">    
					</div>
				</div>
			</div>
		</div>
		<h2 class="accordion-header" id="flush-heading03">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse03" aria-expanded="false" aria-controls="flush-collapse03">
				3. Әр ҰБТ сайын бейіндік пәндерімді өзгертіп отыруға бола ма?
			</button>
		</h2>
		<div id="flush-collapse03" class="accordion-collapse collapse" aria-labelledby="flush-heading03" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<div class="row">
					<div class="col-md-8">
						<p>Бұл сұраққа біз бірнеше рет Сіздерге жауап бергенбіз, алайда, қайталап кетудің артықтығы жоқ деп санаймыз. Сонымен, ҚАҢТАР, НАУРЫЗ ЖӘНЕ ТАМЫЗ айларындағы ҰБТ-да ӘРТҮРЛІ БЕЙІНДІК ПӘНДЕР КОМБИНАЦИЯСЫН таңдауға болады. Ал негізгі ҰБТ-ны тапсыруға берілген екі мүмкіндікте де БІР БЕЙІНДІК ПӘНДЕР КОМБИНАЦИЯСЫН таңдай аласыздар.</p> 
					</div>
					<div class="col-md-4">
						<img style="width:100%; max-width:400px;" src="{% static 'images/news10.jpeg' %}" alt="" title="">    
					</div>
				</div>
				
			</div>
		</div>
		<h2 class="accordion-header" id="flush-heading04">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse04" aria-expanded="false" aria-controls="flush-collapse04">
				4. Қандай пәндерден дайындайсыздар?
			</button>
		</h2>
		<div id="flush-collapse04" class="accordion-collapse collapse" aria-labelledby="flush-heading04" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<p>Біз 4 пән бойынша оқытамыз:</p>
				<p>Ол пәндер:</p>
				<ul>
					<li>Қазақстан тарихы</li>
					<li>Математикалық сауаттылық</li>
					<li>Таңдау пәні</li>
					<li>Бейіндік пән</li>
				</ul>
			</div>
		</div>
		<h2 class="accordion-header" id="flush-heading05">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse05" aria-expanded="false" aria-controls="flush-collapse05">
				5. Сабақтар қай уақытта өткізіледі?
			</button>
		</h2>
		<div id="flush-collapse05" class="accordion-collapse collapse" aria-labelledby="flush-heading05" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<p>Сабақтардың болу уақыты<br>
				Аптасына 3 рет.<br> 
				Пн-ср-пт немесе вт-чт-сб.<br> 
				Сабақ 15:00-19:20 аралығында өтеді.<br> 
				Күніне 3 парадан.<br> 
				Аптасына 7 пара. 1 параның ұзақтығы 80 минут.</p>
			</div>
		</div>
		<h2 class="accordion-header" id="flush-heading06">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse06" aria-expanded="false" aria-controls="flush-collapse06">
				6. Сіздерде жеңілдіктер қарастырылған ба?
			</button>
		</h2>
		<div id="flush-collapse06" class="accordion-collapse collapse" aria-labelledby="flush-heading06" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<p>Біздің оқу орталықта жеңілдіктер, жағдайға байланысты сәйкесінше құжаттарды көрсетілгенде ғана жүзеге асырылады. Жеңілдікпен тіркелген оқушылардың барлығы бірінші айда толық көлемде оқу ақысын жасайды. Ал екінші айдан бастап жеңілдікпен төлейді</p>
				<ul>
					<li>Көп балалы отбасылар үшін – 10 % жеңілдік</li> 
					<li>Жалғыз басты ата-аналар үшін – 10 % жеңілдік</li> 
					<li>Бір отбасыдан екі оқушы – 10 % жеңілдік әр оқушыға</li> 
					<li>Отбасыда 1-2 топтағы мүгедек болған жағдайда – 10 % жеңілдік</li>
				</ul>
			</div>
		</div>
		<h2 class="accordion-header" id="flush-heading07">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse07" aria-expanded="false" aria-controls="flush-collapse07">
				7. Результат болатынына гарантия бере аласыз ба?
			</button>
		</h2>
		<div id="flush-collapse07" class="accordion-collapse collapse" aria-labelledby="flush-heading07" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<p>Иә, бізде ГРАНТҚА ГАРАНТИЯ бар</p>	
			</div>
		</div>
		<h2 class="accordion-header" id="flush-heading08">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse08" aria-expanded="false" aria-controls="flush-collapse08">
				8.	Оқу ақысы жайлы:
			</button>
		</h2>
		<div id="flush-collapse08" class="accordion-collapse collapse" aria-labelledby="flush-heading08" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<p>Егерде оқушы сабаққа келмеген күндері үшін анықтама немесе сабақтан босататын құжат алып келген жағдайда ғана сабаққа келмеген күндерінің оқу ақысы қайтарылады немесе келесі айдың оқу ақысына қосылады!<br>
				Егер ауа-райына байланысты немесе біздің оқу орталықтағы кейбір жағдайларға байланысты сабақтар болмаса, ол сабақтар басқа күнге ауыстырылып, оқушы мен ата-анаға алдын ала ескертіледі!<br>
				Күнтізбедегі қызыл күндер үшін болған демалыстарға оқу ақысы кері қайтарылмайды(1 желтоқсан, 16 желтоқсан).
			</div>
		</div>
		<h2 class="accordion-header" id="flush-heading09">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse09" aria-expanded="false" aria-controls="flush-collapse09">
				9. Оқыту материалдарын сатып алу керек пе?
			</button>
		</h2>
		<div id="flush-collapse09" class="accordion-collapse collapse" aria-labelledby="flush-heading09" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<p>Біз негізінен, тек қана мектеп оқулықтарымен оқытамыз.Бізде жұмыс жасап жатқан мұғалімдердің өз оқыту базасы қалыптасқан. Соған байланысты, барлық оқыту материалы оқушыларға орталықтан беріледі. Сіздерден тек қана қалам, өзіне ыңғайлы дәптер(блокнот) және оқуға деген ынта мен назар</p>							
			</div>
		</div>
		<h2 class="accordion-header" id="flush-heading10">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse10" aria-expanded="false" aria-controls="flush-collapse10">
				10.	Куратор не үшін қажет?
			</button>
		</h2>
		<div id="flush-collapse10" class="accordion-collapse collapse" aria-labelledby="flush-heading10" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<p>Оқушы топқа кірер кезде, біз топқа куратор тағайындаймыз. Не үшін?</p>
				<ul>
					<li>Оқушы динамикасына қарап отыруы үшін</li>
					<li>Үй жұмыстарына көмектесуі үшін</li>
					<li>Оқушының түсінбеген тақырыптарымен жұмыс жасауы үшін</li>
					<li>Және де тәрбиеші ретінде қарап отыруы үшін</li>
				</ul>
				<p>Барлығы куратордың назарында болады. Және осының барлығы кураторлық жұмыста жасалады. Сондықтан ата-ананың қандай да бір сұрағы болса, куратор барлық мәліметті бере алады. Және де, өзіміз оқушы жайлы толық ақпарат біліп отыруымыз үшін, куратор(тәрбиеші) қоямыз</p>
			</div>
		</div>
	</div>
</div>
{% else %}
<div class="accordion accordion-flush" >
	<div class="accordion-item">
		<h2 class="accordion-header" id="flush-heading01">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse01" aria-expanded="false" aria-controls="flush-collapse01">
				1. Обязательно ли сдавать январское ЕНТ?
			</button>
		</h2>
		<div id="flush-collapse01" class="accordion-collapse collapse" aria-labelledby="flush-heading01" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<p>Нет, не обязательно. ЕНТ в январе сдаётся по желанию. Сертификат январского ЕНТ действует для поступления на платное отделение в университеты нашей страны.</p>
			</div>
		</div>
		<h2 class="accordion-header" id="flush-heading02">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse02" aria-expanded="false" aria-controls="flush-collapse02">
				2. Важно ли, в каком порядке будут проходить профильные предметы ЕНТ (например, биология и химия или химия и биология)?
			</button>
		</h2>
		<div id="flush-collapse02" class="accordion-collapse collapse" aria-labelledby="flush-heading02" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<p>Нет, это не имеет значения.</p>
			</div>
		</div>
		<h2 class="accordion-header" id="flush-heading03">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse03" aria-expanded="false" aria-controls="flush-collapse03">
				Если я поступил на платное отделение, как я могу попытаться перевестись на грант?
			</button>
		</h2>
		<div id="flush-collapse03" class="accordion-collapse collapse" aria-labelledby="flush-heading03" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<p>Ежегодно в каждом университете, принимающем студентов на государственный грант, проводится конкурс освободившихся государственных грантов. Чтобы претендовать на грант, необходимо отлично учиться.</p>
			</div>
		</div>
		<h2 class="accordion-header" id="flush-heading04">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse04" aria-expanded="false" aria-controls="flush-collapse04">
				4. Что такое сельская квота?
			</button>
		</h2>
		<div id="flush-collapse04" class="accordion-collapse collapse" aria-labelledby="flush-heading04" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<p>Сельская квота – это отдельное количество государственных грантов для выпускников сельских школ.</p>							
			</div>
		</div>
		<h2 class="accordion-header" id="flush-heading05">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse05" aria-expanded="false" aria-controls="flush-collapse05">
				5. Если проходишь ЕНТ на творческую специальность, как поступить на грант?
			</button>
		</h2>
		<div id="flush-collapse05" class="accordion-collapse collapse" aria-labelledby="flush-heading05" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<p>Творческие экзамены в университетах проводятся до конкурса государственных грантов. После прохождения творческих экзаменов вы с перечнем документов и результатом творческих экзаменов подаете заявление на участие в конкурсе государственных грантов.</p>							
			</div>
		</div>
		<h2 class="accordion-header" id="flush-heading06">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse06" aria-expanded="false" aria-controls="flush-collapse06">
				6. Где можно подать документы на конкурс государственных грантов?
			</button>
		</h2>
		<div id="flush-collapse06" class="accordion-collapse collapse" aria-labelledby="flush-heading06" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<p>Подать документы можно в любом университете своего города, указав в заявлении вузы, в которые вы хотите поступить.</p>							
			</div>
		</div>
		<h2 class="accordion-header" id="flush-heading07">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse07" aria-expanded="false" aria-controls="flush-collapse07">
				7. Какая должна быть подготовка у абитуриента при поступлении на IT-направления?
			</button>
		</h2>
		<div id="flush-collapse07" class="accordion-collapse collapse" aria-labelledby="flush-heading07" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<p>Университеты не требуют, чтобы у абитуриента были навыки программирования до поступления. Все знания вы получите с нуля на первом курсе. У всех образовательных программ на первом курсе есть дисциплина «Информационно-коммуникационные технологии», которая вам поможет в развитии ваших навыков работы с компьютерными программами.</p>
			</div>
		</div>
		<h2 class="accordion-header" id="flush-heading08">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse08" aria-expanded="false" aria-controls="flush-collapse08">
				8. По каким профильным предметам большая конкуренция на конкурсе государственных грантов?
			</button>
		</h2>
		<div id="flush-collapse08" class="accordion-collapse collapse" aria-labelledby="flush-heading08" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<p>Большая конкуренция по экономическим, юридическим и гуманитарным направлениям, так как по их комбинациям профильным предметам выделяется меньшее количество государственных грантов.</p>				
			</div>
		</div>
		<h2 class="accordion-header" id="flush-heading09">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse09" aria-expanded="false" aria-controls="flush-collapse09">
				9. Расскажите о студенческой академической мобильности, как можно получить грант в вузе на обучение за рубежом?
			</button>
		</h2>
		<div id="flush-collapse09" class="accordion-collapse collapse" aria-labelledby="flush-heading09" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<p>Академическая мобильность – это программа обучения по обмену для студентов 2–3 курса. Для того, чтобы претендовать на обучение по обмену, необходимо соответствовать следующим требованиям: IELTS 6.0 и выше GPA 3.0 и выше Написать мотивационное письмо, почему именно вы достойны пройти программу академической мобильности. Взять два рекомендационных письма у преподавателей. Обучение по обмену длится 1 семестр (4–5 месяцев). Вы учитесь в зарубежном вузе, затем возвращаетесь и продолжаете обучение в своем казахстанском вузе.</p>							
			</div>
		</div>
		<!-- <h2 class="accordion-header" id="flush-heading10"> -->
			<!-- <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse10" aria-expanded="false" aria-controls="flush-collapse10"> -->
				
			<!-- </button> -->
		<!-- </h2> -->
		<!-- <div id="flush-collapse10" class="accordion-collapse collapse" aria-labelledby="flush-heading10" data-bs-parent="#accordionFlushExample"> -->
			<!-- <div class="accordion-body"> -->
				
			<!-- </div> -->
		<!-- </div> -->
	</div>
</div>		
{% endif %}		
{% endblock content %}