{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Read" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "claim" %}</h2>
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<p>{{ claim.dater | date:"d.m.Y H:i"}}</p>
			<h4>{{ claim.user }}, {{ claim.user.first_name }} {{ claim.user.last_name }}</h4>			
		</div>
		<div class="card-body">
			<p>{{ claim.training }}</p>						
			<p>{{ claim.details }}</p>					
			<p>{{ claim.result }}</p>					
		</div>
		<div class="card-footer">				
			<p></p>			
		</div>		
	</div>
	<div class="div-button-left">
		<a class="btn btn-outline-info" style="width:100px; margin-top:5px" href="{% url 'claim_index' %}">{% trans "Back" %}</a>    
	</div>
</div>

{% endblock content %}